
header{
    text-align: center;
    padding: 5px;
    background-color: lightpink;
}
h1
{
    color:red; 
}
h4{
    font-style: italic;
    text-align: center;
}
p
{text-align: justify;}
body
{
    background-image: url('dental-clinic.jpg');
    background-size:100%;
   
}

img{
    float: left;
padding-right: 50px;
}

nav {
    background-color:grey;
    padding :15px;
}
nav a{
    color:white;
    font-style:bold;
    text-decoration: none;
    padding:25px;
    
}